# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Save data
.rumi_data

# TUI Test program output
/tui-test/ACTUAL.txt

# Utility script
test.sh